.contenedora-principal{
    display: flex;
    justify-content: space-around;
    background-color:white;
}

.contenedora-izquierda{
    background-color:#00386f;
    font-weight: bold;
    height: 570px;
    width: 300px;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

figure {
    background-color: white;
}

.estilo1{
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size:x-large;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
}

.contenedora-derecha{
    background-color:#E0F2F6;
    font-weight: bold;
    height: 570px;
    width: 835px;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

h1{
    font-family: "Times New Roman", Times, serif;
    font-size:xx-large;
    text-align: center;
}

h2{
    font-size:x-large;
    text-align: left;
}

button{
    background-color: lightgray;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: large;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #00386f;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

td {
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
    text-align: left;
}

th, td {
    width: 25%;
    vertical-align: center;
    border: 1px solid #000;
    padding: 0.7em;
    caption-side: bottom;
}