<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/cuarta.css">
  <title>Document</title>
</head>

<body>
<main>
  <section class = "contenedora-principal">
    <section class = "contenedora-izquierda">
      <figure>
        <img src="/static/imgs/innovedcol.png" alt="Logo" width="280px">
      </figure>
      <button class="estilo1">Ingresos y Egresos</button>
      <button class="estilo1">Usuarios</button>
      <button class="estilo1">Empresas</button>
    </section>
    <section class = "contenedora-derecha">
      <h1>SISTEMA DE GESTIÓN DE INGRESOS Y GASTOS</h1>
      <h2>Usuarios</h2>
      <button type="submit">Nuevo</button>
      <br />
      <table>

        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th> </th>
        </tr>

        <tr th:each=usuario:${users}>
          <td th:text="${usuario.name}"></td>
          <td th:text="${usuario.email}"></td>
          <td th:text="${usuario.phone}"></td>
          <td>Ejemplo4</td>
        </tr>



      </table>

    </section>
  </section>
</main>
</body>
</html>