<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Innoved Col</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
<div style="text-align: center;"><img src="./imgs/innovedcol.png" width="40%" alt="Innoved Col" ></div>
<br>
<p class="botones">
    <a role="button" class="learn-more" th:href="@{/empresa}">
  <span class="circle" aria-hidden="true">
  <span class="icon arrow"></span>
  </span>
        <span class="button-text">Empresas</span>
    </a>
    <a role="button" class="learn-more" th:href="@{/usuario}">
  <span class="circle" aria-hidden="true">
  <span class="icon arrow"></span>
  </span>
        <span class="button-text">Empleados</span>
    </a>
    <a role="button" class="learn-more" th:href="@{/transacciones}">
  <span class="circle" aria-hidden="true">
  <span class="icon arrow"></span>
  </span>
        <span class="button-text">Transacciones</span>
    </a>

</p>
</body>
</html>