<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/primera.css">
    <title>Document</title>
</head>

<body>
<main>
    <section class = "contenedora-principal">
        <section class = "contenedora-izquierda">
            <figure>
                <img src="/static/imgs/innovedcol.png" alt="Logo" width="280px">
            </figure>
            <button class="estilo1">Ingresos y Egresos</button>
            <a th:href="@{/users}"><button class="estilo1">Usuarios</button></a>
            <button class="estilo1">Empresas</button>
        </section>
        <section class = "contenedora-derecha">
            <button class="estilo2">Sistema de gestión de ingresos y gastos</button>
            <button class="estilo2">Sistema de gestión de usuarios</button>
            <button class="estilo2">Sistema de gestión de empresas</button>
        </section>
    </section>
</main>
</body>
</html>