<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/segunda.css">
  <title>Document</title>
</head>

<body>
<main>
  <section class = "contenedora-principal">
    <section class = "contenedora-izquierda">
      <figure>
        <img src="/static/imgs/innovedcol.png" alt="Logo" width="280px">
      </figure>
      <a th:href="@{/Transaction}"><button class="estilo1">Ingresos y Egresos</button></a>
      <button class="estilo1">Usuarios</button>
      <button class="estilo1">Empresas</button>
    </section>
    <section class = "contenedora-derecha">
      <h1>SISTEMA DE GESTIÓN DE INGRESOS Y GASTOS</h1>
      <h2>Ingresos y egresos</h2>
      <button type="submit">Nuevo</button>
      <br />
      <table>

        <tr>
          <th>Concepto</th>
          <th>Monto</th>
          <th>Fecha</th>
          <th>Usuario</th>
        </tr>

        <tr th:each=transacciones:${Transacciones}>
          <td th:text="${transacciones.id}"></td>
          <td th:text="${transacciones.concept}"></td>
          <td th:text="${transacciones.amount}"></td>
          <td th:text="${transacciones.employee}"></td>
          <td th:text="${transacciones.enterprise}"></td>
        </tr>


      </table>
      <br />
      <div class="estilo3">Total: $$$$$$$</div>
    </section>
  </section>
</main>
</body>
</html>