<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/tercera.css">
  <title>Document</title>
</head>

<body>
<main>
  <section class = "contenedora-principal">
    <section class = "contenedora-izquierda">
      <figure>
        <img src="/static/imgs/innovedcol.png" alt="Logo" width="280px">
      </figure>
      <button class="estilo1">Ingresos y Egresos</button>
      <button class="estilo1">Usuarios</button>
      <button class="estilo1">Empresas</button>
    </section>
    <section class = "contenedora-derecha">
      <h2>SISTEMA DE GESTIÓN DE INGRESOS Y GASTOS</h2>
      <h4>Ingresos y egresos</h4>
      <form action="" class="formulario">
        <div class="caja1">
          <h2>NUEVO MOVIMIENTO DE DINERO</h2>
          <h3>Digite el monto:</h3>
          <input type="text" placeholder="Monto">
          <h3>Digite el concepto:</h3>
          <input type="text" placeholder="Concepto">
          <h3>Digite la fecha:</h3>
          <input type="text" placeholder="Fecha">
          <h3> </h3>
          <button type="submit">INGRESAR</button>
        </div>
      </form>
    </section>
  </section>
</main>
</body>
</html>